<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="human_bot_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00762934262352088 -0.0675001983965127 -0.00114509135657021"
        rpy="3.14159 0 0" />
      <mass
        value="28.4586576664985" />
      <inertia
        ixx="0.246506375374486"
        ixy="-0.00183301810485917"
        ixz="1.10294610483093E-06"
        iyy="0.330102871231246"
        iyz="-1.50439567883107E-06"
        izz="0.376309895520936" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="3.14159 0 0" />
      <geometry>
        <mesh
          filename="/home/hri01/robot_des_ws/src/human_bot_description/meshes/base_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="3.14159 0 0" />
      <geometry>
        <mesh
          filename="/home/hri01/robot_des_ws/src/human_bot_description/meshes/base_link2.STL" />
      </geometry>
    </collision>
  </link>

  <!-- 添加Gazebo插件 -->
  <gazebo>
    <static>false</static>
  </gazebo>

  <gazebo reference="base_link">
    <material>Gazebo/White</material>
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>10000000.0</kp>
    <kd>100.0</kd>
  </gazebo>

  <!-- 添加全向移动插件 -->
  <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>base_link</robotBaseFrame>
      <publishTf>true</publishTf>
    </plugin>

  </gazebo>



</robot>