<!--Ctrl vehicle with keyboard(arrow key)-->
<launch>
    <node name="turtle_teleop_key" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" >
        <param name="speed" value="0.3"/>
        <param name="turn" value="0.3"/>
    </node>	
    <!-- <env name="LANG" value="zh_CN.UTF-8" /> -->
    <node name="xnode_comm" pkg="xpkg_comm" type="xnode_comm" respawn="false" output="screen" required="false">
              <param name="can_hub_addr" value="10.233.233.1"/>
    </node>
<node name="xnode_vehicle" pkg="xpkg_vehicle" type="xnode_vehicle" output="screen" >
        <param name="ini_path" value="$(find xpkg_vehicle)/ini/device_id_list.ini"/>
        <param name="show_path" value="true"/>
        <param name="show_loc" value="false"/>
        <param name="calc_speed" value="false"/>
        <param name="mode_can_lock" value="false"/>
        <param name="pub_tf" value="true"/>
        <param name="rate_x" value="1.0"/>
        <param name="rate_y" value="1.0"/>
        <param name="rate_z" value="1.0"/>
        <param name="rate_az" value="1.0"/>
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find xpkg_demo)/demo_vehicle/ROS1/config/rviz_vehicle.rviz" />
</launch>
